.GridSystemExample{
  font-weight: bold;
  text-align: center;
}

.R{
  background-color: red;
}

.G{
  background-color: green;
}

.B{
  background-color: blue;
}

.gY{
  background-color: greenyellow;
}

.o{
  background-color: orange;
}

.p{
  background-color: purple;
}